body {
  background-image: linear-gradient(to right, #09203f 0%, #537895 100%);
  font-family: Arial, "sans-serif";
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.box {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 70px 200px 70px 200px;
  border-radius: 15px;
}

.marketsopen {
  background-color: transparent;
  font-size: 48px;
  color: green;
}

.marketsclosed {
  background-color: transparent;
  font-size: 48px;
  color: rgb(234, 61, 61);
}
